<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogFileName" value="C:\Users\vradoyko\Desktop\Process Zips\Result.txt"></add>
    <add key="MappingFile" value="C:\Users\vradoyko\Desktop\Process Zips\Mapping File Baseline v14 27-Oct-2017.csv"></add>
    <add key="SourcePath" value="C:\Users\vradoyko\Desktop\Process Zips"></add>
    <add key="SourceFoldersList" value="PRATTACH\Master;PRATTACH\Draft;PRATTACH\WebLinks\Master;PRATTACH\WebLinks\Draft"></add>
    <add key="DestinationPath" value="C:\Users\vradoyko\Desktop\Process Zips\Existing Zips"></add>
    <add key="NewZipFilesPath" value="C:\Users\vradoyko\Desktop\Process Zips\NewZips"></add>
    <add key="FilesTimeStamp" value="01-Oct-2018"></add>
    <add key="BaselineFolderName" value="Vistway Baseline v15"></add>
  </appSettings>
</configuration>