<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--"SQL" mode or "TXT" mode-->
    <add key="InputMode" value="TXT"/>

    <!--General Settings-->
    <add key="LogFileName" value="C:\Users\vradoyko\Desktop\Process Zips\Result.txt"></add>
    <add key="DestinationPath" value="C:\Users\vradoyko\Desktop\Process Zips\ExistingZips"></add>
    <add key="NewZipFilesPath" value="C:\Users\vradoyko\Desktop\Process Zips\NewZips"></add>
    <add key="FilesTimeStamp" value="01-Oct-2018"></add>
    <add key="BaselineFolderName" value="Vistway Baseline v20"></add>

    <!--Folders where source documents are kept. Ordered by importance-->
    <add key="SourceFolder_1" value="C:\Users\vradoyko\Desktop\Process Zips\PRATTACH\Master"></add>
    <add key="SourceFolder_2" value="C:\Users\vradoyko\Desktop\Process Zips\PRATTACH\PRATTACH\Master"></add>
    <add key="SourceFolder_3" value="C:\Users\vradoyko\Desktop\Process Zips\PRATTACH\Web Links\Master"></add>
    <add key="SourceFolder_4" value="C:\Users\vradoyko\Desktop\Process Zips\PRATTACH\Draft"></add>
    <add key="SourceFolder_5" value="C:\Users\vradoyko\Desktop\Process Zips\PRATTACH\PRATTACH\Draft"></add>
    <add key="SourceFolder_6" value="C:\Users\vradoyko\Desktop\Process Zips\PRATTACH\Web Links\Draft"></add>

    <!--The file is read in TXT mode. This file is created/overwritten in SQL mode. File is tab delimited-->
    <add key="MappingFile" value="C:\Users\vradoyko\Desktop\Process Zips\Mapping Input.txt"></add>
  </appSettings>

  <connectionStrings>
    <!--Used only in SQL input mode-->
    <add name="DB" connectionString="Data Source=slhepv0085.ctsslou.visteon.com;Initial Catalog=NIMBUSEXPORT;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>