<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LogFileName" value="Result.txt"></add>
    <add key="MappingFile" value="C:\Users\vradoyko\Desktop\Process Zips\Mapping_Test.csv"></add>
    <add key="SourcePathMaster" value="C:\Users\vradoyko\Desktop\Process Zips\Source_Test\Master"></add>
    <add key="SourcePathDraft" value="C:\Users\vradoyko\Desktop\Process Zips\Source_Test\Draft"></add>
    <add key="DestinationPath" value="C:\Users\vradoyko\Desktop\Process Zips\Target_Test"></add>
    <add key="NewZipFilesPath" value="C:\Users\vradoyko\Desktop\Process Zips\Target_Test\NewZips"></add>
    <add key="FilesTimeStamp" value="01-Jun-2017"></add>
    <add key="BaselineFolderName" value="Vistway Baseline v16"></add>
  </appSettings>
</configuration>